/* Variables */

:root {
    /* Colors */
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --white: hsl(0, 0%, 100%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /* Fonts & Typography */
    --title-font: "Young Serif", serif;
    --text-font: "Outfit", sans-serif;
    --text-size: 1rem;
    --subtitle-size: 1.375rem;
    --title-size: 1.75rem;
    --large-title-size: 2.5rem;
    --normal-font-weight: 400;
    --bold-font-weight: 600;
    --bolder-font-weight: 700;
}

/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--stone-100);
    font-family: var(--text-font);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p,
li,
td {
    color: var(--stone-600);
    line-height: 140%;
}

h1,
h2 {
    font-family: var(--title-font);
}

h2 {
    font-size: var(--title-size);
    font-weight: var(--normal-font-weight);
    color: var(--brown-800);
}

ul,
ol {
    padding: 0 2rem 0 1.5rem;
    display: grid;
    gap: 10px;
}

li {
    padding-left: 1rem;
}

li::marker {
    color: var(--brown-800);
    font-size: 0.8rem;
    font-weight: var(--bold-font-weight);
}

/* Reusable class */

.grid:not(:last-of-type) {
    display: grid;
    gap: 16px;
    margin-bottom: 16px;
}

.line-break {
    height: 1px;
    background-color: var(--stone-150);
}

/* Page Styles */

.page {
    background-color: var(--white);
    margin: 123px 352px;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.recipe__image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
}

.recipe__title {
    color: var(--stone-900);
    font-size: var(--large-title-size);
    font-weight: var(--normal-font-weight);
}

.preparation {
    padding: 30px;
    background-color: var(--rose-50);
    border-radius: 12px;
}

.preparation__title {
    font-family: var(--text-font);
    font-weight: var(--bold-font-weight);
    font-size: var(--subtitle-size);
    color: var(--rose-800);
}

.preparation__list li::marker {
    color: var(--rose-800);
}

.instructions__list li::marker {
    font-size: var(--normal-font-weight);
}

.nutrition__table {
    border-collapse: collapse;
    width: 100%;
}

.nutrition__row:not(:last-of-type) {
    border-bottom: 1px solid var(--stone-150);
}

.nutrition__cell {
    padding: 14px 32px;
}

.nutrition__cell:nth-child(2) {
    font-weight: bold;
    color: var(--brown-800);
}


/*

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*/

footer {
    display: none;
}

/* For small devices */
@media screen and (max-width: 768px) {

    h1,
    h2 {
        line-height: 100%;
    }

    p,
    li {
        line-height: 150%;
    }

    .page {
        margin: 0;
        padding: 32px;
        border-radius: 0px;
        gap: 20px;
    }

    .grid {
        gap: 24px;
    }

    .recipe__image {
        width: calc(100% + 64px);
        margin-left: -32px;
        margin-top: -32px;
        border-radius: 0px;
    }

    .recipe__title {
        font-size: calc(var(--large-title-size) - 0.25rem);
    }


}

/* For medium devices */